# Add files with and without the wp-content prefix
wp-content/uploads/*
uploads/*
wp-content/object-cache.php
object-cache.php
wp-content/themes/raft/
themes/raft/

# Plugins managed with Composer.  Delete this section once all are managed by composer
# and convert to ignoring all of wp-content/plugins and excluding custom plugins
wp-content/plugins/
plugins/

# Dev-only
.DS_Store
*.log
*node_modules/
*vendor/
wp-content/db.php
wp-config.php

# Standard Wordpress
wp-admin/
wp-includes/
wp-*.php
!wp-content/plugins/wp-mail-smtp/wp-mail-smtp.php
xmlrpc.php
index.php
readme.html
license.txt

# builds
wordpress
payload